<!DOCTYPE html>
<html>
<head>
    <title>TO-DO List</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <h1>Ups!</h1>
    <p>
        <%=msg%>
    </p>
</body>