<!DOCTYPE html>
<html>
<head>
    <title>TO-DO List</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <h1>Listado de tareas</h1>
    <ul>
        <% habitaciones.forEach (habitacion => {%>
            <li> <%= habitacion %> </li>
        <%}); %>
    </ul>
</body>
</html>
